<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shellpest_android">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_miicono"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_miicono_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShellPest_Android"
        android:usesCleartextTraffic="true">
        <activity android:name=".Podas"></activity>
        <activity android:name=".Fertilizaciones" />
        <activity android:name=".Salidas_Capturadas" />
        <activity android:name=".Enviar_Salidas" />
        <activity android:name=".Enviar_Aplicaciones" />
        <activity android:name=".Aplicaciones_Capturadas" />
        <activity
            android:name=".aplicacion"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Salidas"
            android:screenOrientation="portrait" />
        <activity android:name=".enviarriego" />
        <activity
            android:name=".Riego"
            android:screenOrientation="portrait" />
        <activity android:name=".Aplicaciones" />
        <activity android:name=".Puntos_Capturados" />
        <activity android:name=".Enviar" />
        <activity android:name=".EnviaRecibe" />
        <activity
            android:name=".activity_Monitoreo"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Login_Usuario">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>